ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .active {
    background-color: peachpuff;
    color: black;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover:not(.active) {
    background-color: peachpuff;
    color: black;
  }

  h1 {
    text-align: center;
    background-color: peachpuff;
    padding: 15px;
  
  }
  
  body {
    background-color: cornsilk;
    float: center;
  }

  img {
    float: left;
    padding-right: 5px
  }

  .footer {
    position: fixed;
    background-color: peachpuff;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
  }
